{% extends 'base.html.twig' %}

{% block title %} Пользователи {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('adminTable.css', 'css') }}">
{% endblock %}

{% block body %}
    <header><a class="header-btn btn btn-primary" href="{{ path('app_admin') }}">Назад</a></header>
    <div class="users">
        <table class="table table-hover table-striped">
            <thead class="table-dark">
            <tr>
                <th>№</th>
                <th>email</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Номер телефона</th>
                <th>Роль</th>
                <th>Питомцы</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.secondName }}</td>
                    <td>{{ user.thirdName }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>
                        {% for role in user.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for pet in user.pets %}
                            {{ pet.name }}
                        {% endfor %}
                    </td>
                    <td>
                        <form action="{{ path('app_admin_deleteUser', {id: user.id}) }}" method="post">
                            <input type="submit" data-user-id="{{ user.id }}" class="delete-btn btn btn-danger" value="Удалить">
                        </form>
                    </td>
                    <td>
                        {% if 'ROLE_BLOCKED' not in user.roles %}
                        <form action="{{ path('app_admin_blockUser', {id: user.id}) }}" method="post">
                            <input type="submit" data-user-id="{{ user.id }}" class="block-btn btn btn-danger" value="Заблокировать">
                        </form>
                        {% else %}
                            <form action="{{ path('app_admin_unlockUser', {id: user.id}) }}" method="post">
                                <input type="submit" data-user-id="{{ user.id }}" class="unlock-btn btn btn-success" value="Разблокировать">
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('adminDeleteUser.js', 'js') }}"></script>
    <script src="{{ asset('adminBlockUser.js', 'js') }}"></script>
    <script src="{{ asset('adminUnlockUser.js', 'js') }}"></script>
{% endblock %}