{% extends 'base.html.twig' %}

{% block title %}Отзывы{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('review.css', 'css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
{% endblock %}

{% block body %}
    {% include 'index/header.html.twig' %}

    <div class="koguvcavis-varazdel">
        <div class="sestim-donials">
            <h1>Отзывы</h1>
            <div class="sectionesag"></div>
            <div class="sagestim-lonials">
                {% for review in reviews %}
                    <div class="vemotau-vokusipol">
                        <div class="testimonial">
                            <div class="gecedanam">{{ review.reviewer.firstName }} {{ review.reviewer.secondName }}</div>
                            <div class="apogered-gselected">
                                {% for _ in 1..review.score %}
                                    <i class="fas fa-star"></i>
                                {% endfor %}
                            </div>
                            <p>{{ review.comment }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
        <div id="form">
            {{ form(form) }}
        </div>
        <div class="image">
            <img class="borzoiDog" src="{{ asset('borzoiDog.png', 'images') }}" alt="Ошибка">
            <div class="description">
                <p>Оставьте, пожалуйста, ваш отзыв</p>
            </div>
        </div>
        <a href="#form">
            <div class="arrow-7">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
    {% else %}
        <p>Чтобы оставить отзыв необходимо <a
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                    href="{{ path('app_login') }}">авторизоваться</a></p>
    {% endif %}
{% endblock %}

